/***
******************+++
Questo file definisce alcune variabili aggiuntive per design-comuni-plone-theme
******************+++
**/

//cms
$placeholder: #b8c6c9 !default;

//site
$primary-h: 210 !default;
$primary-s: 100 !default;
// $primary-b: 80 !default;

// $primary-a0: hsl($primary-h, 62%, 97%) !default;

$spacer: 16px;
